# Composer
/vendor/
composer.lock

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# WordPress
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/backup-db/

# Node modules (if we add build tools later)
node_modules/
package-lock.json

# Logs
*.log
error_log
debug.log

# Environment files
.env
.env.local

# Build files
/build/
/dist/

# Refreence files from other plugins
/refrence-classes/

# tests
/tests/

# Ignore all dotfiles/dotfolders except .github
.*
!.github/

# todo
TODO.md

#ideas
/ideas/